/* General */
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.8rem;
    font-family: 'Nunito', sans-serif;
    color: #a4acc4;
    background: #10121b;
    overflow-x: hidden;
}

.custom_btn {
    background-color: #037fff;
    color: #fff;
    padding: 13px 30px;
    font-size: 14px;
    letter-spacing: 2px;
    position: relative;
}

.custom_btn:hover {
    color: #fff;
}

.custom_btn:after {
    content: "";
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.custom_btn:hover:after {
    width: 100%;
}

#root {
    padding-left: 260px;
    position: relative;
    min-height: 100vh;
}

@media (max-width: 1200px) {
    #root {
        padding-left: 0;
    }
}

.bgLines {
    position: absolute;
    width: calc(100% - 260px);
    min-height: 100%;
    z-index: -1;
}

@media (max-width: 1200px) {
    .bgLines {
        width: 100%;
    }
}

.bgLines span {
    position: absolute;
    height: 100%;
    width: 1px;
    background: rgba(46,52,78,.3);
}

.bgLines span:first-child {
    left: 20%;
}

.bgLines span:first-child {
    left: 20%;
}

.bgLines span:nth-child(2) {
    left: 40%;
}

.bgLines span:nth-child(3) {
    left: 60%;
}

.bgLines span:nth-child(4) {
    left: 80%;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: #444; 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 10px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    border-right: 1px solid #2e344e;
    background: #191d2b;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.fa-heart {
    color: red;
}

.sidebar__image {
    padding: 25px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #2e344e;
}

.sidebar__image img {
    width: 200px;
    border-radius: 50%;
    border: 7px solid #2e344e;
}

.sidebar__menu {
    list-style: none;
    text-align: center;
    width: 96%;
}

.sidebar__menu li a {
    padding: 7px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .94rem;
    letter-spacing: 1px;
    position: relative;
    display: block;
    color: #a4acc4;
    font-weight: 600;
}

.sidebar__menu li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(3,127,255,.2);
    z-index: -1;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.sidebar__menu li a.active {
    color: #fff !important;
}

.sidebar__menu li a.active:before {
    background: #037fff !important;
    width: 100%;
}

.sidebar__menu li a:hover {
    color: #037fff;
}

.sidebar__menu li a:hover:before {
    width: 100%;
}

.sidebar__footer {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    font-size: 1rem;
    padding: 15px 0;
    border-top: 1px solid #2e344e;
}

.sidebar__toggler {
    position: absolute;
    top: 20px;
    left: 100%;
    height: 50px;
    width: 50px;
    display: none;
    background: #191d2b;
    border: 1px solid #2e344e;
    outline: none;
}

.fa-bars, .fa-close {
    color: #a4acc4;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .sidebar__toggler {
        display: block;
    }

    .sidebar {
        transform: translateX(-100%);
    }
}

@media (min-width: 1200px) {
    .sidebar {
        transform: translateX(0) !important;
    }
}

/* Home */
.home_wrapper {
    display: table;
    height: 100vh;
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.home_content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.highlight {
    color: #037fff !important;
}

@media (max-width: 634px) {
    .highlight {
        display: block;
    }
}

.home__heading {
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
    font-weight: bold;
}

.home__desc {
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 1px;
}

.home__icons i {
    font-size: 25px;
    padding: 10px 12px;
    margin: 0 10px;
    border: 2px solid #2e344e;
    border-radius: 50%;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.home__icons i:hover {
    color: #037fff;
    border-color: #037fff;
}

.particle {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -1;
}

/* About */
.section_wrapper {
    padding-top: 80px;
}

.section_heading, .about_content b, .about_img_wrapper {
    position: relative;
}

.section_heading h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 85px;
}

.section_heading h1:before {
    content: "";
    position: absolute;
    height: 5px;
    top: 60px;
    width: 40px;
    border-radius: 10px;
    background-color: #037fff;
}

.section_heading h1:after {
    content: "";
    position: absolute;
    left: 0;
    top: 60px;
    height: 5px;
    width: 100px;
    border-radius: 10px;
    background-color: rgba(3,127,255,.2);
}

.section_heading span {
    font-size: 70px;
    text-transform: uppercase;
    position: absolute;
    top: 60px;
    left: 5px;
    color: rgba(25,29,43,.44);
    font-weight: 900;
    z-index: -1;
}

.about_content h3 {
    color: #fff;
    font-weight: 600;
    font-size: 1.9rem;
}

.about_content p {
    margin-bottom: 3px;
}

.about_content b {
    display: inline-block;
    min-width: 120px;
}

.about_content b:after {
    content: ":";
    position: absolute;
    right: 0;
}

.section_wrapper .about_content .col-lg-6:first-child {
    margin-bottom: 40px;
}

.section_wrapper .about_content .col-lg-6:nth-child(2) {
    margin-bottom: 60px;
}

.about_img_wrapper:before, .about_img_wrapper:after {
    position: absolute;
    content: "";
    width: 15px;
    height: 55%;
    background: rgba(3,127,255,.7);
}

.about_img_wrapper:after {
    bottom: 0;
    transform: translateX(-15px);
}

/* Resume */
.skill_wrapper {
    margin-bottom: 30px;
}

.skill_name {
    color: #fff;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.skill_value {
    display: flex;
    align-items: center;
}

.skill_value p {
    margin-bottom: 0;
    margin-right: 25px;
}

.progressbar-container {
    background-color: rgba(3,127,255,.2);
    height: 7px;
    width: 100%;
}

.progressbar-progress {
    background-color: #037fff !important;
    height: 7px !important;
    transition: all 1.2s ease-out !important;
}

.working_wrapper h3, .education_wrapper h3 {
    font-weight: bold;
    color: #fff;
}

.working_content {
    border-left: 3px solid #2e344e;
    display: flex;
    padding-top: 30px;
}

.work_detail h4 {
    margin-bottom: 5px;
    font-weight: bold;
}

.work_detail {
    padding-left: 50px;
    position: relative;
}

.work_detail:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0px;
    width: 35px;
    height: 1.5px;
    background: #2e344e;
}

.work_detail h5 {
    color: #fff;
    margin-bottom: 0.5rem;
}

i.fa-briefcase, i.fa-user-graduate {
    opacity: 0.5;
    margin-right: 30px;
}

.work_summary h6 {
    color: #a4acc4;
    margin-bottom: 0;
    font-size: 20px;
}

.work_summary {
    min-width: 230px;
    padding-left: 20px;
    position: relative;
}

.work_summary:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #10121b;
    left: -9px;
    top: 4px;
    border: 3px solid #2e344e;
}

@media (max-width: 767px) {
    .working_content {
        flex-wrap: wrap;
    }

    .work_summary {
        padding-left: 50px;
    }

    .work_detail:before {
        top: -13px;
        left: 5px;
    }

    .working_wrapper h3, .education_wrapper h3 {
        font-size: 1.5rem;
    }

    i.fa-briefcase, i.fa-user-graduate {
        margin-right: 20px;
    }
}

@media (max-width: 990px) {
    .work_detail span {
        display: block;
    }
}

/* Portfolio */
.item_wrapper, .item_img_wrapper {
    width: 100%;
}

.item_wrapper h5 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.item_wrapper h5 span {
    color: #fff;
    font-weight: bold;
    font-size: 1.43rem;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.item_wrapper h5 span:hover {
    color: #037fff;
}

.item_wrapper h6 {
    font-size: 19px;
    margin-bottom: 30px;
}

.item_img_wrapper {
    position: relative;
}

.item_wrapper:hover .item_img_wrapper:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.item_wrapper:hover .item_img_wrapper ul {
    opacity: 1;
    transform: translateY(-50%);
}

.item_img_wrapper:before {
    content: "";
    position: absolute;
    top: 15px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    left: 15px;
    background-color: hsla(0,0%,100%,.9);
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.item_img_wrapper ul {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    opacity: 0;
    list-style: none;
    -webkit-transition: all .4s ease-in-out .2s;
    transition: all .4s ease-in-out .2s;
}

.item_img_wrapper ul li {
    display: inline-block;
    margin: 0 7px;
}

.item_img_wrapper ul li .fa-search-plus,
.item_img_wrapper ul li .fa-link {
    color: #fff;
    font-size: 21px;
    background-color: #a4acc4;
    padding: 13px;
    border-radius: 50%;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.item_img_wrapper ul li i[class*='fa']:hover {
    background: #037fff;
}

/* Portfolio popup */
.popupbox-wrapper {
    background: url(https://static.impression.co.uk/2014/05/loading1.gif);
    background-size: cover;
    background-position: center;
}

/* Contact */
.contact_content h3 {
    color: #fff;
    margin-bottom: 30px;
}

.contact_content .form-control {
    color: #a4acc4;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #2e344e;
    margin-bottom: 30px;
}

.contact_content .form-control:focus {
    box-shadow: none;
}

.contact_content input {
    height: 50px;
    padding: 0 15px;
}

.contact_content .error {
    border-color: red !important;
}

.contact_content textarea {
    padding: 15px 15px;
}

.contact_content .form_field {
    position: relative;
}

.contact_content .form_field label {
    position: absolute;
    font-size: 15px;
    padding: 0 10px;
    top: -12px;
    left: 15px;
    background: #10121b;
}

.info_block {
    background-color: #191d2b;
    display: flex;
    padding: 30px;
    margin-top: 30px;
}

.info_block_icon {
    font-size: 30px;
    padding: 20px;
    height: 75px;
    margin-right: 30px;
    border: 1.5px solid #2e344e;
}

.info_block_detail h5 {
    color: #fff;
}

.info_block_detail p {
    margin-bottom: 0px;
}

.contact_msg {
    padding: 20px;
    background: #fff;
}

.contact_msg p {
    margin-bottom: 0;
}

.contact_msg .fa-check-circle {
    font-size: 30px;
}