/* General */
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.8rem;
    font-family: 'Nunito', sans-serif;
    color: #a4acc4;
    background: #10121b;
    overflow-x: hidden;
}

.custom_btn {
    background-color: #037fff;
    color: #fff;
    padding: 13px 30px;
    font-size: 14px;
    letter-spacing: 2px;
    position: relative;
}

.custom_btn:hover {
    color: #fff;
}

.custom_btn:after {
    content: "";
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.custom_btn:hover:after {
    width: 100%;
}

#root {
    padding-left: 260px;
    height: 100vh;
}

@media (max-width: 1200px) {
    #root {
        padding-left: 0;
    }
}

.bgLines {
    position: absolute;
    width: calc(100% - 260px);
    height: 100%;
    z-index: -1;
}

@media (max-width: 1200px) {
    .bgLines {
        width: 100%;
    }
}

.bgLines span {
    position: absolute;
    height: 100%;
    width: 1px;
    background: rgba(46,52,78,.3);
}

.bgLines span:first-child {
    left: 20%;
}

.bgLines span:first-child {
    left: 20%;
}

.bgLines span:nth-child(2) {
    left: 40%;
}

.bgLines span:nth-child(3) {
    left: 60%;
}

.bgLines span:nth-child(4) {
    left: 80%;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: #444; 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 10px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    border-right: 1px solid #2e344e;
    background: #191d2b;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.fa-heart {
    color: red;
}

.sidebar__image {
    padding: 25px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #2e344e;
}

.sidebar__image img {
    width: 200px;
    border-radius: 50%;
    border: 7px solid #2e344e;
}

.sidebar__menu {
    list-style: none;
    text-align: center;
    width: 96%;
}

.sidebar__menu li a {
    padding: 7px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .94rem;
    letter-spacing: 1px;
    position: relative;
    display: block;
    color: #a4acc4;
    font-weight: 600;
}

.sidebar__menu li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(3,127,255,.2);
    z-index: -1;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.sidebar__menu li a.active {
    color: #fff !important;
}

.sidebar__menu li a.active:before {
    background: #037fff !important;
    width: 100%;
}

.sidebar__menu li a:hover {
    color: #037fff;
}

.sidebar__menu li a:hover:before {
    width: 100%;
}

.sidebar__footer {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    font-size: 1rem;
    padding: 15px 0;
    border-top: 1px solid #2e344e;
}

.sidebar__toggler {
    position: absolute;
    top: 20px;
    left: 100%;
    height: 50px;
    width: 50px;
    display: none;
    background: #191d2b;
    border: 1px solid #2e344e;
    outline: none;
}

.fa-bars, .fa-close {
    color: #a4acc4;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .sidebar__toggler {
        display: block;
    }

    .sidebar {
        transform: translateX(-100%);
    }
}

@media (min-width: 1200px) {
    .sidebar {
        transform: translateX(0) !important;
    }
}

/* Home */
.home_wrapper {
    display: table;
    height: 100%;
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.home_content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.highlight {
    color: #037fff !important;
}

@media (max-width: 634px) {
    .highlight {
        display: block;
    }
}

.home__heading {
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
}

.home__desc {
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 1px;
}

.home__icons i {
    font-size: 25px;
    padding: 10px 12px;
    margin: 0 10px;
    border: 2px solid #2e344e;
    border-radius: 50%;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.home__icons i:hover {
    color: #037fff;
    border-color: #037fff;
}

.particle {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -1;
}

/* About */
.section_wrapper {
    padding-top: 80px;
}

.section_heading, .section_content b, .about_img_wrapper {
    position: relative;
}

.section_heading h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 85px;
}

.section_heading h1:before {
    content: "";
    position: absolute;
    height: 5px;
    top: 60px;
    width: 40px;
    border-radius: 10px;
    background-color: #037fff;
}

.section_heading h1:after {
    content: "";
    position: absolute;
    left: 0;
    top: 60px;
    height: 5px;
    width: 100px;
    border-radius: 10px;
    background-color: rgba(3,127,255,.2);
}

.section_heading span {
    font-size: 70px;
    text-transform: uppercase;
    position: absolute;
    top: 60px;
    left: 5px;
    color: rgba(25,29,43,.44);
    font-weight: 900;
    z-index: -1;
}

.section_content h3 {
    color: #fff;
    font-weight: 600;
    font-size: 1.9rem;
}

.section_content p {
    margin-bottom: 3px;
}

.section_content b {
    display: inline-block;
    min-width: 120px;
}

.section_content b:after {
    content: ":";
    position: absolute;
    right: 0;
}

.section_wrapper .col-lg-6:first-child {
    margin-bottom: 40px;
}

.section_wrapper .col-lg-6:nth-child(2) {
    margin-bottom: 60px;
}

.about_img_wrapper:before, .about_img_wrapper:after {
    position: absolute;
    content: "";
    width: 15px;
    height: 55%;
    background: rgba(3,127,255,.5);
}

.about_img_wrapper:after {
    bottom: 0;
    transform: translateX(-15px);
}